<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transfer Money</title>
</head>
<body>
    <h1>Transfer money</h1>
    <a href="transfer2?accountNo=1234&amount=100">Transfer 100</a>

    <form action="transfer" method="post">
        <label for="accountNo">Account Number</label>
        <input type="number" name="accountNo">

        <label for="amount">Amount</label>
        <input type="number" name="amount">

        <input type="submit">
    </form>
</body>
</html>